{% extends "base" %}

{% block title %}MemphisPHP Home{% endblock %}

{% block description %}MemphisPHP Information and News{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MemphisPHP.org</a>
        </div>
        <div class="navbar-collapse collapse">
            <!--
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            -->
        </div><!--/.navbar-collapse -->
    </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Memphis PHP User Group</h1>
            <p>Are you a PHP Developer in Memphis? Are you just curious about PHP? Come see other MemphisPHP developers at our monthly meet ups.</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="about">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Find us on Github</h2>
                <p>You can find out what we're working on by viewing our Github Organization.</p>
                <p>We also offer an easy to use Vagrant box for your PHP projects</p>
                <p><a class="btn btn-default" href="https://github.com/memphisphp" role="button">Github &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Social Media & Events</h2>
                <p>Were to find out all the most recent news and updates regarding MemphisPHP and related events happening in Memphis.</p>
                <p>RSVP to our monthly meet up and discover other great #memtech events.</p>
                <p><a class="btn btn-default" href="/social" role="button">Social &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sponsors</h2>
                <p>Current Sponsors:</p>
                {% for sponsor in sponsors %}
                    <p>
                        <a href="{{ sponsor.link  }}" target="_blank">
                            <img src="/img/{{ sponsor.imgLink }}" alt="{{ sponsor.description }}">
                        </a>
                    </p>
                {% endfor %}

                <p>Learn about our current sponsors and how you can help sponsor MemphisPHP!</p>
                <p><a class="btn btn-default" href="/sponsors" role="button">Sponsors &raquo;</a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h2>About MemphisPHP</h2>
                <p>Find out how we are, where we have been, where we are going, and how to get involved!</p>
                <p><a class="btn btn-default" href="/about" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Social Media & Events</h2>
                <p>Were to find out all the most recent news and updates regarding MemphisPHP and related events happening in Memphis.</p>
                <p>RSVP to our monthly meet up and discover other great #memtech events.</p>
                <p><a class="btn btn-default" href="/social" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sponsors</h2>
                <p>Learn about our current sponsors and how you can help sponsor MemphisPHP!</p>
                <p><a class="btn btn-default" href="sponsors" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>
        <footer>
            <p>&copy; MemphisPHP.org 2013</p>
        </footer>
{% endblock %}